<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koala World</title>
    <link rel="stylesheet" href="../static/css/estilo.css">
</head>
<body>

    <section class="container">

        <div >
            <img class="logo" src="static/img/dado.png" alt="">
        </div>
        
        <div>
            <h1>Koala World</h1>
        </div>

        <div>
            <ul>
                <li class="menu"><a href="../index.html">Home</a></li>
                <li class="menu"><a href="templates/Filme.html">Filme</a></li>
                <li class="menu"><a href="templates/series.html">Series</a></li>
            </ul>
        </div>
        
    <!--Linha de separaçao -->
        <hr>
    </section>
    

   <footer>
    <div> 
        <img src="../static/img/monster-rpg.gif" alt="">
    </div>
   
   </footer>
</body>
</html>