<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Koala World</title>
    <link rel="stylesheet" href="../static/css/estilo.css">
</head>
<body>

    <section class="container">

        <div >
            <img class="logo" src="static/img/dado.png" alt="">
        </div>
        
        <div>
            <h1>Koala World</h1>
        </div>

        <div>
            <ul>
                <li class="menu"><a href="../index.html">Series</a></li>
                <li class="menu"><a href="anime.html">Animes</a></li>
                <li class="menu"><a href="filmes.html">Filmes</a></li>
                
            </ul>
        </div>
        
    <!--Linha de separaçao -->
        <hr>
    </section>
    
    <ul>
        <li><a href="https://drive.google.com/drive/folders/1F7qSY_sd6bQ_jFuXA4M6xqJboAputNYB?usp=sharing">A lenda de Vox Machina</a></li>
        <li><a href="https://drive.google.com/drive/folders/145mXvAuUd8spgRrq6kvZztZFoPHnfhkz?usp=sharing">From</a></li>
        <li><a href="https://drive.google.com/drive/folders/12EH7tZTOWXOCxFdravZqaxWCqP9nILsL?usp=sharing"></a>Game of Thrones</li>
        <li><a href="https://drive.google.com/drive/folders/1__S8cZKRbnwVKYtbwyImjzDKE7zEGNzi?usp=sharing">O Gabinete de Curiosidades de Guillermo Del Toro</a></li>
        <li><a href="https://drive.google.com/drive/folders/1EpiBVH6AAXm1efngncCZjTk_KBor5Lyu?usp=sharing">Power Rangers S.P.D</a></li>
    
    </ul>

    <section>
        <ul>

        </ul>
    </section>

   <footer>
    <div> 
        <img src="../static/img/monster-rpg.gif" alt="">
    </div>
   
   </footer>
</body>
</html>